name: ZayedShield Secret Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  trufflehog-scan:
    name: Run TruffleHog OSS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Scan for secrets with TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
